@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Css/stil.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Anasayfa</title>
</head>

<body>

    <div class="ortalama">
        <a href="/Ogrenciler">Öğrenciler</a>
        <a href="/Tahsilatlar">Tahsilatlar</a>
        <a href="/Odalar">Odalar</a>
        <a href="/Yataklar">Yataklar</a>
        <a href="/Misafirler">Misafirler</a>
    </div>
    
</body>
</html>



