<!DOCTYPE html>
<html>
<head>
    <link href="~/Css/stil.css" rel="stylesheet" />
    <title>@ViewBag.Title</title> 
</head>
<body>
    <div class="ust"></div>
    <div class="menu"></div>
    <div class="icerik">
        @RenderBody()
    </div>
    <div class="alt"></div>

</body>
</html>